h1 {
    color: blue;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
}

p {
    color: brown;
    text-align: center;
    font-weight: 100, bold;
    letter-spacing: 1px;
    word-spacing: 0px;
    line-height: 2;
    font-family: 'Roboto', sans-serif;
    ;
}

#second-paragraph {
  /*  border-style: dotted;
   border-width: 3px;
   border-color: red !important; */
   border: solid 4px;
   border-color: rgb(0, 0, 244);
   border-radius: 8px;
   padding: 24px;

}